#======================================================================================#
# This Template file provisions the Firewall Rules
# Making template file more dynamic and re-usable with jinja2 variables
# Taking out hard-coded values from Template files with jinja2 variable declarations
#=======================================================================================#

# Resource 5 Varaibles: Prod Webservers Firewall Rule
{% set  prod_webserver_fr_name = "denpha-prod-web-servers-fr-allow-http-https" %}
{% set  prod_webserver_fr_description = "This firewall rule grants http/https access from the Prod External LoadBalancer" %}
{% set  prod_webserver_vpc_fr_network = "$(ref.denpha-prod-vpc.selfLink)" %}
{% set  prod_webserver_fr_source_ranges = ["0.0.0.0/0"] %}
{% set  prod_webserver_fr_target_tags = ["prod-web-servers"] %}
{% set  prod_webserver_fr_allowed_ports = ["80", "443"] %}

# Resource 6 Varaibles: Prod Appservers Firewall Rule
{% set  prod_appserver_fr_name = "denpha-prod-app-servers-fr-allow-http-https" %}
{% set  prod_appserver_fr_description = "This firewall rule grants http/https access from the Prod App LoadBalancer" %}
{% set  prod_appserver_vpc_fr_network = "$(ref.denpha-prod-vpc.selfLink)" %}
{% set  prod_appserver_fr_source_ranges = ["10.130.0.0/20"] %}
{% set  prod_appserver_fr_target_tags = ["prod-app-servers"] %}
{% set  prod_appserver_fr_allowed_ports = ["80", "443"] %}

# Resource 7 Varaibles: Prod dbservers Firewall Rule
{% set  prod_dbserver_fr_name = "denpha-prod-db-servers-fr-allow-mysql" %}
{% set  prod_dbserver_fr_description = "This firewall rule grants mysql access from the Prod db-server network" %}
{% set  prod_dbserver_vpc_fr_network = "$(ref.denpha-prod-vpc.selfLink)" %}
{% set  prod_dbserver_fr_source_ranges = ["10.140.0.0/20"] %}
{% set  prod_dbserver_fr_target_tags = ["prod-db-servers"] %}
{% set  prod_dbserver_fr_allowed_ports = ["3306"] %}

#======================================================================#
# Consuming the variables in all the resources
#======================================================================#

resources:
#======================================================================#
# Resource 5: This creates a firewall rule for Prod Web Servers
#======================================================================#
# Web servers firewall rule HTTP/80 and HTTPS/443
#======================================================================#
- name: {{prod_webserver_fr_name}}
  type: compute.v1.firewall
  properties:
    description: {{prod_webserver_fr_description}}
    network: {{prod_webserver_vpc_fr_network}}
    #sourceRanges: ["$(ref.external-load-balancer-ip-prod.selfLink)"] 
    #Keeping the webservers Private but granting public access
    sourceRanges: {{prod_webserver_fr_source_ranges}}
    targetTags: {{prod_webserver_fr_target_tags}}
    allowed:
    - IPProtocol: TCP
      ports: {{prod_webserver_fr_allowed_ports}}

#======================================================================#
# Resource 6: This creates a firewall rule for Prod App Servers
#======================================================================#
# App servers firewall rule HTTP/80 and HTTPS/443 Network Access
#======================================================================#
- name: {{prod_appserver_fr_name}}
  type: compute.v1.firewall
  properties:
    description: {{prod_appserver_fr_description}}
    network: {{prod_appserver_vpc_fr_network}}
    #sourceRanges: ["$(ref.external-load-balancer-ip-prod.selfLink)/32"]
    sourceRanges: {{prod_appserver_fr_source_ranges}} # For now but will be updated to Bastion host before use
    targetTags: {{prod_appserver_fr_target_tags}}
    allowed:
    - IPProtocol: TCP
      ports: {{prod_appserver_fr_allowed_ports}}

#======================================================================#
# Resource 7: This creates a firewall rule for Prod DB Servers
#======================================================================#
# DB servers firewall rule MYSQL/3306  Network Access
#======================================================================#
- name: {{prod_dbserver_fr_name}}
  type: compute.v1.firewall
  properties:
    description: {{prod_dbserver_fr_description}}
    network: {{prod_dbserver_vpc_fr_network}}
    #sourceRanges: ["$(ref.external-load-balancer-ip-prod.selfLink)/32"]
    #For now but will be updated to Bastion host before use.
    sourceRanges: {{prod_dbserver_fr_source_ranges}} 
    targetTags: {{prod_dbserver_fr_target_tags}}
    allowed:
    - IPProtocol: TCP
      ports: {{prod_dbserver_fr_allowed_ports}}   
    
