#======================================================================#
# Consuming the variables in all the resources 
#======================================================================#

#======================================================================#
# Resource 14: This is to create db-server resources for denpha-prod
#======================================================================#
# db-server-1-resource-prod, us-central1-a
#======================================================================#
resources:
- name: {{prod_dbserver1_az_a_name}}
  type: compute.v1.instance
  properties:
    description: {{prod_dbserver1_az_a_description}}
    zone: {{prod_dbserver1_az_a_zone}}
    machineType: {{prod_dbserver1_az_a_machine_type}}
    disks:
    - deviceName: boot
      type: PERSISTENT
      boot: true
      autoDelete: {{prod_dbserver1_az_a_disk_auto_delete}}
      initializeParams:
        sourceImage: {{prod_dbserver1_az_a_disk_source_image}}
    networkInterfaces:
    - subnetwork: {{prod_dbserver1_az_a_subnetwork}}
    tags:
      items:
      - {{prod_dbserver1_az_a_tags}}
    labels: {{prod_dbserver1_az_a_labels}}

#======================================================================#
# Resource 15: This is to create db-server resources for denpha-prod
#======================================================================#
# db-server-2-resource-prod, us-central1-b
#======================================================================#
- name: {{prod_dbserver2_az_b_name}}
  type: compute.v1.instance
  properties:
    description: {{prod_dbserver2_az_b_description}}
    zone: {{prod_dbserver2_az_b_zone}}
    machineType: {{prod_dbserver2_az_b_machine_type}}
    disks:
    - deviceName: boot
      type: PERSISTENT
      boot: true
      autoDelete: {{prod_dbserver2_az_b_disk_auto_delete}}
      initializeParams:
        sourceImage: {{prod_dbserver2_az_b_disk_source_image}}
    networkInterfaces:
    - subnetwork: {{prod_dbserver2_az_b_subnetwork}}
    tags:
      items:
      - {{prod_dbserver2_az_b_tags}}
    labels: {{prod_dbserver2_az_b_labels}}